@font-face {
	font-family: 'BPmonoRegular';
	src: url('fonts/BPmono-webfont.eot');
	src: local('☺'), url('fonts/BPmono-webfont.woff') format('woff'), url('fonts/BPmono-webfont.ttf') format('truetype'), url('fonts/BPmono-webfont.svg#webfontmBm6IfnU') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BPmonoItalic';
	src: url('fonts/BPmonoItalics-webfont.eot');
	src: local('☺'), url('fonts/BPmonoItalics-webfont.woff') format('woff'), url('fonts/BPmonoItalics-webfont.ttf') format('truetype'), url('fonts/BPmonoItalics-webfont.svg#webfontVV18KkmE') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BPmonoBold';
	src: url('fonts/BPmonoBold-webfont.eot');
	src: local('☺'), url('fonts/BPmonoBold-webfont.woff') format('woff'), url('fonts/BPmonoBold-webfont.ttf') format('truetype'), url('fonts/BPmonoBold-webfont.svg#webfontGrfsfgTd') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PerspectiveSansRegular';
	src: url('fonts/persans-webfont.eot');
	src: local('☺'), url('fonts/persans-webfont.woff') format('woff'), url('fonts/persans-webfont.ttf') format('truetype'), url('fonts/persans-webfont.svg#webfont0CEC85KT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PerspectiveSansItalic';
	src: url('fonts/persansi-webfont.eot');
	src: local('☺'), url('fonts/persansi-webfont.woff') format('woff'), url('fonts/persansi-webfont.ttf') format('truetype'), url('fonts/persansi-webfont.svg#webfontaFvzI35c') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PerspectiveSansBold';
	src: url('fonts/persansb-webfont.eot');
	src: local('☺'), url('fonts/persansb-webfont.woff') format('woff'), url('fonts/persansb-webfont.ttf') format('truetype'), url('fonts/persansb-webfont.svg#webfontTMPUkPvp') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PerspectiveSansBoldItalic';
	src: url('fonts/persanbi-webfont.eot');
	src: local('☺'), url('fonts/persanbi-webfont.woff') format('woff'), url('fonts/persanbi-webfont.ttf') format('truetype'), url('fonts/persanbi-webfont.svg#webfontEcNVT9By') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PerspectiveSansBlackRegular';
	src: url('fonts/persanbk-webfont.eot');
	src: local('☺'), url('fonts/persanbk-webfont.woff') format('woff'), url('fonts/persanbk-webfont.ttf') format('truetype'), url('fonts/persanbk-webfont.svg#webfont6byvlNDX') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PerspectiveSansBlackItalic';
	src: url('fonts/persabki-webfont.eot');
	src: local('☺'), url('fonts/persabki-webfont.woff') format('woff'), url('fonts/persabki-webfont.ttf') format('truetype'), url('fonts/persabki-webfont.svg#webfontndZlGGP7') format('svg');
	font-weight: normal;
	font-style: normal;
}


.content {
    font-family: 'PerspectiveSansRegular', Helvetica, Verdana, sans-serif;
}
em, i {
    font-family: 'PerspectiveSansItalic', Helvetica, Verdana, sans-serif;
    font-style: normal;
}
h1, h2, strong, b {
    font-family: 'PerspectiveSansBold', Helvetica, Verdana, sans-serif;
}

h1 em, h1 i, h2 em, h2 i {
    font-family: 'PerspectiveSansBoldItalic', Helvetica, Verdana, sans-serif;
    font-style: normal;
}

code, pre {
    font-family: 'BPmonoRegular', monospace;
    font-size: 80%
}
pre {
    font-size: 2.0em;
}
